#container{
    width: 100%;
    height: 93.8vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#inner-cont{
    /* border: 1px solid red; */
    width: 60vw;
    height: 70vh;
    border-radius: 3em;
    box-shadow: 15px 15px 15px 15px aqua;
    display: flex;
    flex-direction: row;
    
}

.img-set{
    border: 3px solid aqua;
    box-shadow: 2px 2px 2px 2px aqua;
    width: 15vw;
    height: 40vh;
    border-radius: 7em;
}

#left-cont{
    justify-content: space-around;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 35%;
}
#clssses{
    margin: 2em;
}
.classdiv{
    width: 65%;
    display: flex;
    flex-direction: column;
}
.up-div{
    margin: 1em;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.up-inner{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#names{
    font-size: 3em;
    color: brown;
    text-shadow: 5px 5px aqua;
}
#perfor{
    font-size: 1.5em;
}

#spm-in{
    color: brown;
}
#rank{
    font-size: 1.3em;
}
#doun-div{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#para-info{
    font-size: 2em;
}
.lasr-sec-one{
    width: 100%;
    height: 50vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.last-sec-div{
    width: 100%;
    height: 40vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}


@media only screen and (max-width:1100px){
    #container{
        height: 200vh;
    }
    #inner-cont{
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        height: 140vh;
    }
    .classdiv{
        justify-content: center;
        align-items: center;
        height: 50vh;
    }
    .up-div{
        flex-direction: column;
    }
    #clssses{
        margin: 2em 1em;
    }
    #para-info{
        font-size: 1em;
    }
    #perfor{
        font-size: 1em;
    }
    #names{
        font-size: 1.5em;
    }
    .img-set{
        width: 25vw;
        height: 25vh;
    }
}

@media only screen and (max-width:700px){

}